<h1 class="heading">Groups</h1>
<ul>
    @foreach (var group in ViewBag.Groups)
    {
        <li>
            @group.Name
            <a asp-controller="Groups" asp-action="Edit" class="button is-primary" asp-route-groupId="@group.Id">Edit</a>
            <a class="button is-danger" asp-action="Delete" asp-route-id="@group.Id" onclick="return confirm('Are you sure you want to delete @group.Name?')">Delete</a>
        </li>
    }
</ul>
<br />

<a asp-controller="Groups" asp-action="Add" class="button is-primary">Add Group</a>