<h1 class="heading">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user.FirstName @user.LastName</li>
    }
</ul>
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>